/* 
--- 01 TYPOGRAPHY SYSTEM 
- Font sizes (px) 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/**************************/
/* HEADER */
/**************************/

.first-page {
  background-image: url(./img/header2_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 7rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 3rem;
  background-color: #fffcf844;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.main-nav-link {
  /* color: #fff4e6; */
  color: #fff;
  font-size: 2.4rem;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding-top: 60vh;
  /* top: 65%;
    left: 50%;
    transform: translateX(-50%); */
}

.hero {
  width: 110rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-primary {
  font-size: 5.2rem;
  letter-spacing: -0.1rem;
}

.hero-text {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0rem;
  line-height: 1.75rem;
}

.hero-button {
  margin: 2rem 0rem;
}

.btn--heading {
  font-size: 2rem;
}

.btn.btn--heading.btn--start {
  color: white;
  background-color: #5c1b1b;
}
.btn.btn--heading.btn--learn {
  background-color: #99928a41;
}

.feature {
  background: url(./img/body_img.jpg) fixed;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: 50vw;
  background-position-y: 20%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
}

.feature-primary {
  font-style: italic;
  font-weight: 400;
  color: black;
  margin-left: 5rem;
  padding-bottom: 3rem;
  font-size: 4.8rem;
}

.feature-point {
  display: flex;
  flex-direction: column;
  margin-left: 23rem;
}

.feature-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  padding: 2.5rem 0;
}

.feature-title {
  color: black;
  font-size: 2.4rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid black;
  line-height: 1rem;
}

.feature-text {
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.instructors-section {
  padding: 8rem 0;
  background-color: #5c1b1b;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.instructors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70rem;
  margin-left: 5rem;
}

.instructor {
  display: flex;
  justify-content: center;
}

.instructor.bottom {
  padding-top: 3rem;
}

.instructor-img {
  width: 20rem;
  border-radius: 2rem;
}

.instructor-img,
.extra {
  transition: all 0.5s;
  box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.281);
}

.instructor-img:hover,
.extra:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.4rem 7rem rgba(0, 0, 0, 0.13);
}

.extra {
  text-align: center;
  padding-top: 50%;
  font-size: 3rem;
  border-radius: 2rem;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.11);
  color: rgba(255, 255, 255, 0.226);
  font-family: sans-serif;
}

.instructor-text {
  font-size: 8.5rem;
  word-spacing: -0.7rem;
  letter-spacing: -0.3rem;
  line-height: 8rem;
  font-style: italic;
  color: rgb(238, 238, 238);
  /* margin-right: 10rem; */
}

.instructor-text strong {
  font-size: 11rem;
  font-style: normal;
}

.feedback-section {
  background-color: #121212;
  padding: 13rem 0;
  display: flex;
  justify-content: center;
}

.feedback {
  width: 120rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.feedback-text-section {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  border-top: 0.01rem solid rgba(255, 255, 255, 0.301);
}

.feedback-person {
  font-size: 2.5rem;
  font-style: italic;
  text-align: right;
}

.feedback-text {
  padding-top: 2rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: right;
}

.feedback-img {
  width: 40rem;
  border-radius: 2rem;
}

.pricing-section {
  padding: 8rem 2rem;
  background-color: #121212;
  padding: 0 6rem;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 3.5rem;
  background-color: rgba(255, 255, 255, 0.025);
  padding: 5rem 0;
  border-radius: 2rem;
}

.pricing-heading {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 3rem;
}

.pricing-primary-text {
  padding-bottom: 2rem;
  font-size: 6rem;
  font-style: italic;
}

.pricing-secondary-text {
}

.price {
  padding: 7rem 7rem 0 7rem;
  display: flex;
  gap: 7rem;
}

.price-choice {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 2rem;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.price-choice:hover {
  transform: translateY(-1rem);
}

.price-content {
  padding: 2rem 1.5rem;
}

.choice-title {
  font-size: 2.5rem;
}

.choice-text {
  font-size: 1.8rem;
}

.price-number {
  padding: 2rem 0;
}

.price-number strong {
  font-size: 7rem;
}

.pricing-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-btn-item:first-child {
  background-color: #5c1b1b;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 0;
}

.price-btn-item {
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 0;
}

.price-btn-item:last-child {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.158);
}

.price-list-heading {
  padding-top: 2.5rem;
}

.price-list {
  padding-left: 3rem;
}

.cta-section {
  padding: 15rem 20rem 15rem 20rem;
}

.cta {
  padding: 5rem 18rem;
  box-shadow: 0rem 2rem 5rem rgb(202, 202, 202);
  border-radius: 1rem;
}
.cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
  flex-direction: column;
}

.cta-text-primary {
  line-height: 7rem;
  color: black;
  font-size: 8rem;
}

.cta-input {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cta-input input,
select {
  width: 90%;
  font-size: 2rem;
  padding: 1rem 1rem;
  border: none;
  box-shadow: 0 1rem 2rem rgba(187, 187, 187, 0.438);
}

.cta-input select {
  color: rgba(0, 0, 0, 0.562);
}

.cta-input select option {
  color: rgba(0, 0, 0, 0.562);
}
.cta-text-secondary {
  padding-top: 2rem;
  color: black;
  font-size: 2.5rem;
}

.cta-btn {
  color: white;
  font-size: 2rem;
  background-color: #3a3a3ad8;
  display: inline-block;
  align-self: flex-start;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
  margin-left: 18rem;
}

.cta-img {
  width: 40rem;
  height: 60rem;
  object-fit: cover;
  border-radius: 2rem;
}

.footer-section {
  /* background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(./img/img2.jpg) no-repeat;
  background-size: cover;
  background-position-y: -55rem; */
}

.footer-section {
  /* border-top: #c4c3c39d solid 2px; */
  background-color: #efefef5a;
}

.footer {
  padding: 7rem 0;
}

.logo-col {
  width: 25rem;
  margin-right: 6rem;
}

.logo-img {
  width: 12rem;
}

.social-link {
  display: flex;
  gap: 2.5rem;
}

.social-link li {
  list-style: none;
  padding: 1rem 0 7rem 0;
}

.social-icon {
  height: 3rem;
  width: 3rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.copyright {
  font-size: 1.5rem;
  color: #121212;
}

.footer-contact {
  width: 30rem;
}

.footer-contact .nav-footer-items:last-child {
  padding-top: 1rem;
}

.nav-footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}

.nav-footer-heading {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: rgb(0, 0, 0);
}
.nav-footer-items {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.social-icon {
  color: #1212128a;
}
